/*
*@Description:
*@Author:Chig@qq.com
*@Date:2019/12/10 15:50
*/
html,
body,
ul{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F2F2F2;
}
.wrap{

}
.max-w{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

.blog-block-title,
.blog-hotnews-title{
    width: 100%;
}
.blog-block-border{
    width: 100%;
}
/*今日推荐*/
.blog-hotnews{

}
.blog-hotnews-title{

}

/*最新消息*/
.blog-latestnews-face{
    width: 255px;
    height: 145px;
    overflow: hidden;
}
.blog-latestnews-face img{
    width: 100%;
}

/*侧栏公告Tab*/
#nav-tabContent {
    overflow: hidden;
    height: 10rem;
}

/*侧栏消息列表*/
.media-face{
    width: 55px;
    height: 55px;
    display: inline-block;
    overflow: hidden;
}
.media-face img{
    width: 100%;
}


/*footer*/

footer{
    text-align: center;
}
