/*
*@Description:
*@Author:Chig@qq.com
*@Date:2019/12/10 15:50
*/
html,
body,
ul,
li,
p{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.wrap{
    background-color: #ffffff;
}
.max-w{
    max-width: 1200px;
    margin: 0 auto;
}
.blog-facelist{
    overflow: hidden;
    padding: 0;
}

.blog-facelist li{
    list-style: none;
    width: 10%;
    float: left;
}
.blog-facelist li img{
    width: 100%;
}
